.window_banner_container{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    ul{
        li{
            float: left;
            padding: 0 10px;
            height: 16px;
            line-height: 16px;
            font-size: 14px;color: #000;
            &:nth-of-type(2){
                border-left: 1px solid #000;
                border-right: 1px solid #000;
            }
            &:nth-of-type(4){
                border-left: 1px solid #000;
            }
            a{
                font-size: 14px;
                color: #000;
            }
        }
    }
}
.main{
    width: 94%;
    max-width: 1240px;
    // background-color: skyblue;
    margin: 0 auto;
    h1{
        font-size: 32px;
        font-weight: 500px;
    }
    .guanggaoImg{
        width: 100%;
        margin-bottom: 10px;
        img{
            width: 100%;
        }
    }
    .chickType{
        width: 80%;
        display: flex;
        height: 50px;
        line-height: 50px;
        a{
            width: 25%;
            text-align: center;
            border: 1px solid #dadada;
            div{
                font-size: 16px;
                color: #535353;
                height: 48px;
                display: inline-block;
                text-align: center;
            }
            .chickBtn{
                border-bottom: 2px solid black;
                color: #000;
            }

        }
    }
    article{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        .chickList{
            width: 33%;
            background-color: #f4f4f4;
            // height: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 5px;
            img{
                width: 90%;
            }
            h3{
                font-size: 20px;
                color: #000;
                font-weight: 500;
                margin: 20px 0px 20px 0px;
            }
            p{
                margin-bottom: 40px;
                height: 20px;
                font-size: 14px;
            }
            a{
                margin-bottom: 20px;
                font-size: 16px;
            }
        }
        aside{
            width: 33%;
            background-color: #f4f4f4;
            margin-bottom: 5px;
            .spPromotion{
                height: 20px;
                line-height: 20px;
                margin: 3px 0 0 3px;
                color: #fff;
                span{
                    display: block;
                    text-align: center;
                    width: 33%;
                    background-color: #00B04F;
                }
            }
            .goodsImg{
                padding: 0 18px;
                padding-bottom: 10px;
                text-align: center;
                img{
                    width: 100%;
                }
            }
            .goodsItem{
                margin-top: 10px;
                padding: 0px 20px 20px;
                h3{
                    padding-top: 10px;
                    padding-bottom: 5px;
                    a{
                        display: block;
                        font-size: 20px;
                        white-space:nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        color: #000;
                        text-decoration: none;
                    }
                }
                .goodsPrompt{
                    max-height: 30px;
                    line-height: 16px;
                    font-size: 14px;
                    color: #ff0909;
                    overflow: hidden;
                    margin-bottom: 10px;
                }
                ul{
                    list-style-type: disc;
                    li{
                        
                        font-weight: 600;
                        height: 16px;
                        line-height: 16px;
                        padding-left: 15px;
                        white-space:nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        &::before{
                            content: "·";
                            margin-right: 10px;
                        }
                    }
                }
                .priceDelete{
                    display: block;
                    text-decoration: line-through;
                    color: #919191;
                    margin-top: 10px;
                    font-size: 12px;
                }
                .price{
                    display: block;
                    font-size: 18px;
                    font-weight: 700;
                    color: #000;
                    font-family: 'HP Simplified Light';
                }
                .save{
                    margin-top: 15px;
                    margin-bottom: 10px;
                    color: #999;
                    font-size: 14px;
                    white-space:nowrap;
                    overflow:hidden;
                    text-overflow:ellipsis;
                    .saveMoney{
                        color: #ff0909;
                        font-size: 14px;
                        font-weight: 700;
                    }
                }
                .discount{
                    color: #ff0909;
                    font-size: 14px;
                    padding-bottom: 10px;
                    height: 50px;
                }
                button{
                    width: 100%;
                    margin-top: 10px;
                    background-color: #0199D5;
                    color: #fff;
                    font-size: 14px;
                    height: 40px;
                    border: none;
                    border-radius: 5px;
                    transition: 1s;
                    &:hover{
                        background-color: #006699;
                    }
                }
            }
        }
    }
}
@media all and (max-width:950px){
    section{
        .chickType{
            width: 100%;
        }
        article{
            nav{
                min-width: 49.5%;
            }
            aside{
                min-width: 49.5%;
            }
        }
    }
}
@media all and (max-width:600px){
    section{
        
        article{
            nav{
                min-width: 100%;
            }
            aside{
                min-width: 100%;
            }
        }
    }
}
.sectionSecond{
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #898888;
    h5{
        margin-top: 30px;
        margin-left: 30px;
        span{
            font-size: 14px;
            margin: 0px 10px;
        }
        a{
            color: #666;
        }
    }
}