header{
    position: relative;
    top: 0;
    left: 0;
    height: 105px;
    .header_content{
        position: fixed;
        z-index: 10;
        background-color: #fff;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        padding: 0px 1%;
        height: 105px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #999;
        a{
            margin-left: 5px;
            margin-top: 15px;
            .titleImg{
                display: block;
                height: 50px;
                width: 50px;
            }
            #listDiv{
                height: 50px;
                line-height: 50px;
                font-size: 24px;
                display: none;
            }
        }
        .header_center{
            width: 75%;
            .header_input{
                position: relative;
                width: 70%;
                input{
                    display: inline-block;
                    margin-top: 20px;
                    font-size: 16px;
                    padding: 6px 45px 6px 15px;
                    height: 40px;
                    width: 100%;
                }
                #iconA1{
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    display: block;
                    font-size: 22px;
                    top:10px;
                    right: 18px;
                    color: #000;
                    text-decoration: none;
                }
            }
            ul{
                width: 70%;
                height: 30px;
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                li{
                    height: 44px;
                    line-height: 50px;
                    float: left;
                    white-space:nowrap;
                    overflow:hidden;
                    text-overflow:ellipsis;
                    a{
                        font-size: 14px;
                        color: #000;
                        &:hover{
                            text-decoration: none;
                            color: rgb(0, 153, 255);
                        }
                    }
                }
                .drop_menu{
                    display: none;
                    flex-wrap: nowrap;
                    height: 320px;
                    width: 100%;
                    position: absolute;
                    background-color: #F6F6F6;
                    top:105px;
                    left: 0px;
                    // display: none;
                    padding: 20px;
                    overflow: hidden;
                    div:nth-of-type(1){
                        width: 21%;
                        border-right: 1px solid #DDDDDD;
                        dl{
                            h4{
                                height: 30px;
                                line-height: 36px;
                                font-size: 20px;
                                font-weight: 500;
                                color: black;
                            }
                            dd{
                                line-height: 30px;
                                a{
                                    color: #999;
                                }
                            }
                        } 
                    }
                    div:nth-of-type(2){
                        width: 29%;
                        padding: 0 20px;
                        border-right: 1px solid #DDDDDD;
                        display: flex;
                        flex-wrap: wrap;
                        dl{
                            width: 50%;
                            margin-bottom: 0px;
                            overflow: hidden;
                            h4{
                                height: 30px;
                                line-height: 40px;
                                font-size: 20px;
                                font-weight: 500;
                                color: black;
                            }
                            dt{
                                a{
                                    font-size: 16px;
                                    font-weight: 500;
                                    color: black;
                                    text-decoration: underline;
                                }
                                
                            }
                            dd{
                                line-height: 25px;
                                a{
                                    color: #999;
                                    text-decoration: none;
                                    &:hover{
                                        color:rgb(0, 153, 255);
                                    }
                                }
                            }
                        } 
                    }
                    div:nth-of-type(3){
                        width: 21%;
                        padding: 0 20px;
                        border-right: 1px solid #DDDDDD;
                        nav:nth-of-type(1){
                            margin: 30px 0px 0px 20px;
                            span{
                                font-size: 30px;
                                color: #FF0000;
                            }
                            a{
                                display: inline-block;
                                font-size: 19px;
                                line-height: 40px;
                                color: #FF0000;
                            }
                            &:hover{
                                span{
                                    color: #0096D6;
                                }
                                a{
                                    color: #0096D6;
                                }
                            }
                        }
                        nav:nth-of-type(2){
                            margin: 10px 0px 0px 20px;
                            span{
                                font-size: 30px;
                                color: #999;
                            }
                            a{
                                display: inline-block;
                                font-size: 19px;
                                line-height: 40px;
                                color: #999;
                            }
                            &:hover{
                                span{
                                    color: #0096D6;
                                }
                                a{
                                    color: #0096D6;
                                }
                            }
                        }
                    }
                    div:nth-of-type(4){
                        width: 29%;
                        padding: 0 20px;
                        img{
                            margin-bottom: 10px;
                            width: 100%;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .header_right{
            height: 105px;
            padding-top: 25px;
            .telA1{
                white-space:nowrap;
                color: #999;
            }
            .header_right_bottom{
                // padding-top: 10px;
                padding-left: 60px;
                position: relative;
                a{
                    color: #999;
                    font-size: 30px;
                    font-weight: 600;
                    text-decoration: none;
                }
                .suberScript{//购物车角标
                    position: relative;
                    .suberScript_div{
                        position: absolute;
                        width: 16px;
                        height: 16px;
                        text-align: center;
                        line-height: 16px;
                        border-radius: 50%;
                        background-color: #F15916;
                        color: #fff;
                        font-size: 13px;
                        top: 0;
                        left: 20px;
                    }
                }
                .goodsCar{
                    position: absolute;
                    background-color: #fff;
                    display: none;
                    width: 390px;
                    left: -240px;
                    top: 60px;
                    border: 1px solid #999;
                    padding-top: 25px;
                    .jiantou11{
                        position: absolute;
                        width: 14px;
                        height: 14px;
                        top: -28px;
                        left: 345px;
                        border-left: 14px solid rgba($color: #000000, $alpha: 0);
                        border-top: 14px solid rgba($color: #000000, $alpha: 0);
                        border-right: 14px solid rgba($color: #000000, $alpha: 0);
                        border-bottom: 14px solid #999;
                        z-index: 40;
                        .jiantou12{
                            position: absolute;
                            width: 13px;
                            height: 13px;
                            top: -10px;
                            left: -13px;
                            border-left: 13px solid rgba($color: #000000, $alpha: 0);
                            border-top: 13px solid rgba($color: #000000, $alpha: 0);
                            border-right: 13px solid rgba($color: #000000, $alpha: 0);
                            border-bottom: 13px solid #fff;
                            z-index: 99;
                        }
                    }
                    .goodsRecall{
                        position: absolute;
                        font-size: 36px;
                        line-height: 36px;
                        height: 36px;
                        right: 15px;
                        top: 5px;
                        cursor: pointer;
                    }
                    .goodsCarList{
                        width: 100%;
                        min-height: 90px;
                        max-height: 530px;
                        overflow: auto;
                        display: flex;
                        flex-direction: column;
                        .goodsCarPrompt{
                            text-align: center;
                            padding-top: 20px;
                            font-size: 14px;
                            color: #5A5A5A;
                        }
                        .carListTop{
                            border-bottom: 1px solid #999;
                            width: 100%;
                            .itemTotal{
                                font-size: 16px;
                                color: #5A5A5A;
                                padding: 0px 28px 10px 28px;
                                .moneySum{
                                    float: right;
                                    span{
                                        font-weight: 500;
                                        color: #333;
                                        font-size: 18px;
                                        &::after{
                                            content: "：";
                                        }
                                    }
                                    i{
                                        color: #DB4700;
                                        font-size: 18px;
                                        &::before{
                                            content:"￥";
                                        }
                                    }
                                }
                                button{
                                    width: 330px;
                                    margin-top: 10px;
                                    margin-left: 1px;
                                    border: none;
                                    height: 52px;
                                    font-size: 16px;
                                    color: #fff;
                                    border-radius: 6px;
                                    background-color: #0199D5;
                                }
                            }
                        }
                        .carListBottom{
                            padding: 15px;
                            display: flex;
                            flex-direction: column;
                            aside{
                                height: 95px;
                                width: 100%;
                                display: flex;
                                img{
                                    width: 75px;
                                    height: 75px;
                                }
                                div{
                                    min-width: 283px;
                                    a{
                                        display: block;
                                        height: 45px;
                                        font-weight: 300;
                                        color: #5A5A5A;
                                        font-size: 15px;
                                        overflow: hidden;
                                    }
                                    i{
                                        color: #5A5A5A;
                                        font-size: 18px;
                                        &::before{
                                            content: "￥";
                                        }
                                    }
                                    .goodsChoose{
                                        float:right;
                                        display: flex;
                                        width: 120px;
                                        height: 32px;
                                        align-items: center;
                                        justify-content: space-around;
                                        .changeNum{
                                            width: 30px;
                                            height: 30px;
                                        }
                                        h4{
                                            width: 20px;
                                            text-align: center;
                                        }
                                        span{
                                            color: #5A5A5A;
                                            font-size: 18px;
                                            cursor: pointer;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .mine{
                    position: absolute;
                    height: 215px;
                    width: 240px;
                    padding: 10px 20px;
                    background-color: #fff;
                    border: 1px solid #999;
                    right: -5px;
                    top: 60px;
                    display: none;
                    .jiantou21{
                        position: absolute;
                        width: 14px;
                        height: 14px;
                        top: -28px;
                        right: 12px;
                        border-left: 14px solid rgba($color: #000000, $alpha: 0);
                        border-top: 14px solid rgba($color: #000000, $alpha: 0);
                        border-right: 14px solid rgba($color: #000000, $alpha: 0);
                        border-bottom: 14px solid #999;
                        z-index: 40;
                        .jiantou22{
                            position: absolute;
                            width: 13px;
                            height: 13px;
                            top: -10px;
                            left: -13px;
                            border-left: 13px solid rgba($color: #000000, $alpha: 0);
                            border-top: 13px solid rgba($color: #000000, $alpha: 0);
                            border-right: 13px solid rgba($color: #000000, $alpha: 0);
                            border-bottom: 13px solid #fff;
                            z-index: 99;
                        }
                    }
                    
                    nav{
                        height: 50%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        span{
                            font-size: 14px;
                            font-weight: 700;
                        }
                        button{
                            height: 40px;
                            border-radius: 5px;
                            border: none;
                            background-color: #0199D5;
                            color: #fff;
                        }
                    }
                }
            }
        }
        
    } 
}
@media all and (max-width:850px){
    header{
        height: 90px;
        .header_content{
            height: 90px;
            a{
                .titleImg{
                    display: none;
                }
                #listDiv{

                    display: block;
                }
            }
            .header_center{
                width: 70%;
                .header_input{
                    width: 100%;
                }
                ul{
                    display: none;
                }
            }
            .header_right{
                height: 90px;
                padding-top: 20px;
                margin: 0;
                .telA1{
                    display: none;
                }
                .header_right_bottom{
                    padding: 0px;
                    a:nth-of-type(1){
                        display: none;
                    }
                    a:nth-of-type(3){
                        display: none;
                    }
                    .goodsCar{
                        left: -340px;
                    }
                }
            }
        }
        .drop_menu{
            display: none;
        }
    }
}



.backTop{
    position: fixed;
    width: 90px;
    height: 200px;
    background-color: #0197D6;
    right: 0;
    top: 40%;
    display: flex;
    flex-direction: column;
    z-index: 100;
    .backTopDiv1{
        height: 30%;
        padding: 0px 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        &:nth-of-type(2){
            border-top: 1px solid #036F9C;
            border-bottom: 1px solid #036F9C;
        }
    }
    .backTopDiv2{
        height: 10%;
        line-height: 20px;
        text-align: center;
        cursor: pointer;
        background-color: #AAAAAB;
        color: #544C4D;
    }
}
@media all and (max-width:750px){
    .backTop{
        display: none;
    }
}